language: node_js
dist: focal
sudo: required
node_js: stable
services:
  - docker
install:
  - npm install
  - npm run build

jobs:
  include:

  - stage: Test libraries
    name: "Test all libs"
    script:
    - docker run -d -p 8545:8545 -e ACCOUNTS_TO_CREATE=10 foamspace/cliquebait:v1.9.12
    # wait for port (from https://stackoverflow.com/a/50055449/3574379)
    - timeout 22 sh -c 'until nc -z $0 $1; do sleep 1; done' localhost 8545
    # prevent "RpcError { code: -32000, message: "invalid transaction v, r, s values" }"
    - sleep 10
    - npm -s test

  - stage: So fresh and so clean-clean (Purescript)
    name: "Ensure that code matches style guidleines for PRs to master (Purescript)"
    if: branch = master
    script:
    - echo "test formatting disabled since purty isn't up-to-date with purescript v0.14"
    # - npm run purty-check

after_success:
- >-
  test $TRAVIS_TAG &&
  echo $GITHUB_TOKEN | pulp login &&
  echo y | pulp publish --no-push
